.container{
    width: 100%;
    margin: 5px;
}

table{
    width:300px;
    margin: 5px;
    border-collapse: collapse;
}

thead{
    background-color: pink;
    color: blue;
    text-align: left;
}



tbody tr:hover{
    background-color: pink;
    color: blue;
}