<div class="row d-flex justify-content-center">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <h1 class="text-center mb-4 mt-4">Cadastre seu produto</h1>

        <form #f="ngForm" (ngSubmit)="gravar(f.value)">
          <input required minlength="5" class="form-control" type="text" #fNome="ngModel" ngModel name="descricao" placeholder="Produto" />
          <div *ngIf="fNome.invalid" class="ng-invalid">
            Informe a descrição do produto
          </div>
          <br />

          <input required class="form-control"type="number" #fpreco="ngModel" ngModel name="preco" placeholder="Preço"/>
          <div *ngIf="fpreco.invalid" class="ng-invalid">
            Informe o preço do produto
          </div>
          <br />
          <input required class="form-control"type="number" #festoque="ngModel" ngModel name="estoque" placeholder="Estoque"/>
          <div *ngIf="festoque.invalid" class="ng-invalid">
            Informe o estoque do produto
          </div>
          <br />
          <button [disabled]="f.invalid" class="btn btn-secondary">Salvar</button>
          <button type="reset" class="btn btn-danger">Cancelar</button>
        </form>

        <table class="table">
          <thead class="bg-secondary">
            <tr>
              <th>Id</th>
              <th>Descrição</th>
              <th>Preço</th>
              <th>Estoque</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let prod of produtos">
              <td>{{ prod.id }}</td>
              <td> {{ prod.descricao }}</td>
              <td> {{ prod.preco }}</td>
              <td> {{ prod.estoque }}</td>
              <td> <a [routerLink]="['/produtos',prod.id]"><i class="material-icons">mode_edit</i></a></td>
              <td> <i class="material-icons" (click)="excluir(prod.id)">delete</i></td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>